<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_tasks/style.css' %}" type="text/css">
</head>
<body>
    <header class="container center-align">
        <h1>LOGIN PAGE</h1>
    </header>
    {% if form.errors %}
    <p>Data entered is incorrect</p>
    {% endif %}
    
    {% if next %}
    <p>You are not authorised to access that page</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <p>Username: {{ form.username }}</p>
        <p>Password: {{ form.password }}</p>

        <p><input type="submit" value="Login"></p>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <p>Not a registered user?
    <a href="/register">Sign Up</a>
    </p>
</body>
</html>