<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <header class="container center-align">
        <h1>REGISTRATION PAGE</h1>
    </header>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}

        {% if form.errors %}
        <p>Form has errors</p>
        {% endif %}

        {{ form }}
        <br>
        <input type="submit" value="Sign up">
    </form>
</body>
</html>