body
{
    background-color: black;
    background-image: url(mini.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

body *{
    font-family: sans-serif;
    text-align: center;
}

h1{
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    color: hotpink;
    text-decoration: none;
}