<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Index Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_tasks/style1.css' %}" type="text/css">
</head>
<body>
    <h1>This is the main index page</h1>
    {% if user.is_authenticated %}
    <h2>Welcome, {{ user.username }}</h2>
    <p><a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
    <h2>You are not logged in</h2>
    <p>
    <a  href="/accounts/login">Click to login</a>
    </p>
    {% endif %}


</body>
</html>